@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div{
    font-family: "Roboto", serif;
}

header{
    padding: 16px 0;
    background-color: rgb(196, 190, 240);
    color: goldenrod;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: goldenrod;
    text-decoration: none;
}

section p{
    color: rgb(238, 13, 13);
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.loot{
    margin-right: 32px;
}

.rede img{
    height: 90px;
    margin-bottom: 8px;
    padding: 8px;
    display: block;
}

.rede li{
    display: inline;
    margin-right: 8px;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

.contact .container{
    display: block;
}

.rap{
    display: flex;
    justify-content: space-between;
}

form textarea{
    resize: none;
}
